{% extends "vanilla/header.html" %}

{% block headernav %}
<nav class="p-navigation__nav" aria-label="Example main navigation">
  <ul class="p-navigation__items">
    <li class="p-navigation__item is-selected">
      <a class="p-navigation__link" href="https://anbox-cloud.io/">Anbox Cloud</a>
    </li>
    <li class="p-navigation__item">
      <a class="p-navigation__link" href="https://anbox-cloud.io/#use-cases">Use cases</a>
    </li>
    <li class="p-navigation__item">
      <a class="p-navigation__link" href="/">Docs</a>
    </li>
    <li class="p-navigation__item">
      <a class="p-navigation__link" href="https://discourse.ubuntu.com/c/anbox-cloud/">Discourse</a>
    </li>
  </ul>
</nav>
{% endblock headernav %}
