{% extends "vanilla/page.html" %}

{% if meta and ((meta.discourse and discourse_prefix) or meta.relatedlinks) %}
   {% set hide_toc_orig = hide_toc %}
   {% set hide_toc=false %}
{% endif %}


{% block right_sidebar %}
 <aside class="p-table-of-contents is-sticky">
   {% if not hide_toc_orig %}
   <div class="p-table-of-contents__section">
     <h3 class="p-table-of-contents__header">
       {{ _("Contents") }}
     </h3>
     <nav class="p-table-of-contents__nav" aria-label="Table of contents">
       {{ toc }}
     </nav>
   </div>
   {% endif %}
   {% if meta and ((meta.discourse and discourse_prefix) or meta.relatedlinks) %}
   <div class="relatedlinks-title-container">
      <span class="relatedlinks-title">
       Related links
      </span>
    </div>
    <div class="relatedlinks-container">
      <div class="relatedlinks">
        {% if meta.discourse and discourse_prefix %}
          {{ discourse_links(meta.discourse) }}
        {% endif %}
        {% if meta.relatedlinks %}
          {{ related_links(meta.relatedlinks) }}
        {% endif %}
      </div>
    </div>
    {% endif %}
 </aside>
{% endblock right_sidebar %}
